* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.sg-popup {
    width: 300px;
    height: 250px;
    border-radius: 2px;
    padding: 10px;
}

/* header */
.sg-popup-header {
    border-bottom: 2px solid #cacdda;
    line-height: 22px;
    display: table;
}

.sg-logo-icon {
    display: table-cell;
}

.sg-popup-header ul {
    list-style: none;
}

.sg-logo-text {
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: -0.5px;
    display: table-cell;
    transform: translate(3px,-7px);
}

.sg-menu-items {
    display: block;
    float: right;
    transform: translate(6px, -3px);
    margin-left: 7px;
}

.sg-menu-item {
    float: left;
    color: #888da5;
    border-left: 1px solid #cacdda;
    padding: 0 7px;
    font-size: 14px;
    font-weight: 500;
}

.sg-menu-item a {
    color: #0645AD;
}

/* body container */
.sg-popup-body-container {
    display: none;
}

.sg-popup-body-container.is-on {
    display: block;
}

/* body */
.sg-popup-body {
    font-size: 14px;
    padding: 10px;
}

.sg-body-list {
    padding: 10px;
    margin-left: 10px;
}

.sg-body-list li {
    margin-bottom: 5px;
}

.sg-body-header {
    font-size: 16px;
    font-weight: 500;
}

/* footer */
.sg-popup-footer {
    position: absolute;
    bottom: 10px;
    left: 9.375%;
}

.sg-footer-input {
    font-size: 14px;
    width: 150px;
    height: 20px;
    margin-right: 5px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #cacdda;
    padding: 0 10px;
}

.sg-popup-footer button {
    margin-right: 2px;
    padding: 2px 5px;
    font-size: 14px;
    outline: none;
    border: 1px solid #cacdda;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
}

.sg-popup-footer button:hover {
    background-color: #f6f8fa;
}

.sg-popup-footer button:active {
    background-color: #e1e4e8;
}
